{% load static %}
<!-- Side bar logo -->
<div class="sidebar-logo">
    <div class="peers ai-c fxw-nw">
        <div class="peer peer-greed">
            <a class="sidebar-link td-n" href="index.html">
                <div class="peers ai-c fxw-nw"><div class="peer">
                    <div class="logo pt-3 pl-2"><img src="{% static 'img/logo.png' %}" width="70%" alt=""></div>
                </div>
                <div class="peer peer-greed"><h5 class="lh-1 mB-0 logo-text">Admin Panel</h5></div></div>
            </a>
        </div>
        <div class="peer"><div class="mobile-toggle sidebar-toggle"><a href="" class="td-n"><i class="ti-arrow-circle-left"></i></a></div></div>
    </div>
</div>

<!-- Main sidebar Menu -->
<ul class="sidebar-menu scrollable pos-r">

    <li class="nav-item mT-30 {% if request.path == '/user/' %}active{% endif %}">
        <a class="sidebar-link" href="{% url 'dashboard' %}"><span class="icon-holder"><i class="c-blue-500 ti-home"></i></span>
            <span class="title">Dashboard</span>
        </a>
    </li>
    <li class="nav-item {% if '/user/notice' in request.path %}active{% endif %}">
        <a class="sidebar-link" href="{% url 'user_notice' %}">
            <span class="icon-holder"><i class="c-indigo-500 ti-clipboard"></i></span>
            <span class="title">Notice</span>
        </a>
    </li>

    <li class="nav-item {% if '/user/event' in request.path %}active{% endif %}">
        <a class="sidebar-link" href="{% url 'user_event' %}">
            <span class="icon-holder"><i class="c-deep-orange-500 ti-calendar"></i></span>
            <span class="title">Events</span>
        </a>
    </li>

    <li class="nav-item {% if '/user/contact' in request.path %}active{% endif %}">
        <a class="sidebar-link" href="{% url 'user_contact' %}">
            <span class="icon-holder"><i class="c-brown-500 ti-email"></i></span>
            <span class="title">Contact Form</span>
        </a>
    </li>

    <li class="nav-item {% if '/user/staff' in request.path %}active{% endif %}">
        <a class="sidebar-link" href="{% url 'user_staff' %}">
            <span class="icon-holder"><i class="c-teal-500 ti-user"></i></span>
            <span class="title">Staffs</span>
        </a>
    </li>

</ul>