{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="padding-y-60 bg-cover" data-dark-overlay="6" style="background:url({% static 'img/breadcrumb-bg.jpg' %}) no-repeat">
  <div class="container">
    <h1 class="text-white">
      About
    </h1>
    <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0">  
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item">Chairman</li>
    </ol>
  </div>
</div>
  
<section class="paddingTop-80 pb-5 pb-md-0">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <img src="{% static 'img/dk/chairman.jpg' %}" alt="">
      </div>
      <div class="col-md-6 mt-3">
        <h2>
         <small class="text-primary d-block">
         welcome to 
         </small>
          Dillibazar Kanya Campus
        </h2>
        <p class="">
          The achievements of Dillibazar Kanya Campus in the last three decades are clear as the daylight before all aof us. We have dedicated ourselces in the past and
  at present in imparting highly qualititaive and professional university education to aspiring students in Humanities, Management and Education at Bachelor's and
  Master's level. I highly appreciate the contrubution and support of our patrons, students, teachers, guardians, supporters, well-wishers and friends on this occasion.
  With similar support and cooperation from all, we will definitely mark further heights of success and achievement in the days to come.
  I extend my warm welcome to all the students.
          </p>
       
        <h4 class="mt-2">
    ABCD KLXM;
        </h4>
        <p>
         Chairman of DKMC
        </p>
        
      </div>
    </div>
  </div>
</section>


{% endblock %}