{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="py-5 bg-cover" data-dark-overlay="6" style="background:url({% static 'img/1920/658_2.jpg' %}) no-repeat">
  <div class="container">
    <h2 class="text-white">
      Contact
    </h2>
    <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0">  
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      
      <li class="breadcrumb-item">Contact</li>
    </ol>
  </div>
</div>
    
   <div class="py-5 shadow-v2 position-relative">
     <div class="container">
       <div class="row">
        
         <div class="col-lg-4 col-md-6 mt-4">
           <div class="media">
             <span class="iconbox iconbox-md bg-primary text-white"><i class="ti-mobile"></i></span>
             <div class="media-body ml-3">
              <h5 class="mb-0">01-4418118</h5> 
              <p>Call Us</p>
          
             </div>
           </div>
         </div>
        
         <div class="col-lg-4 col-md-6 mt-4">
           <div class="media">
             <span class="iconbox iconbox-md bg-primary text-white"><i class="ti-email"></i></span>
             <div class="media-body ml-3">
              <a href="mailto:support@echotheme.com" class="h5">dkmc.college@gmail.com</a>
              <p>Mail Us</p>
            
             </div>
           </div>
         </div>
        
         <div class="col-lg-4 col-md-6 mt-4">
           <div class="media">
             <span class="iconbox iconbox-md bg-primary text-white"><i class="ti-location-pin"></i></span>
             <div class="media-body ml-3">
              <h5 class="mb-0">Dillibazar, Kathmandu</h5> 
              <p>Locate Us</p>
             
             </div>
           </div>
         </div>
         
       </div>
     </div>
   </div>
   
   
   
   
  <section class="padding-y-100 bg-light-v2">
  <div class="container">
    <div class="row">
     <div class="col-12 text-center mb-5">
        <h2>
          Send Message
        </h2>
        <div class="width-4rem height-4 bg-primary my-2 mx-auto rounded"></div>
      </div>
      {% include 'components/alerts.html' %}
      <div class="col-12 text-center">
        <form action="{% url 'contact' %}" method="POST" class="card p-4 p-md-5 shadow-v1">
          {% csrf_token %}
          <p class="lead mt-2">
            Investig tiones demons travge wunt ectores legere lkurus quod legunt saepiu clear <br> tasest consectetur adipi sicing elitsed eusmod tempor cididunt.
          </p>
          <div class="row mt-5 mx-0">
            <div class="col-md-4 mb-4">
              <input type="text" class="form-control" placeholder="Name" name="name" required>
            </div>
            <div class="col-md-4 mb-4">
              <input type="email" class="form-control" placeholder="Email" name="email" required>
            </div>
            <div class="col-md-4 mb-4">
              <input type="tel" class="form-control" placeholder="Phone number" name="phone">
            </div>
            <div class="col-12">
              <textarea type="text" class="form-control" placeholder="Message" rows="7" name="message" required></textarea>
              <button type="submit" class="btn btn-primary mt-4">Send Message</button>
            </div>
          </div>
        </form>  
      </div>
      
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>
<section class="google-map-only">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.3899967834404!2d85.32536027955854!3d27.705242503538443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19a77f1ab301%3A0xb213d09ebce4b3da!2sDillibazar!5e0!3m2!1sen!2snp!4v1561184588957!5m2!1sen!2snp" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>

{% endblock %}