{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="padding-y-60 bg-cover" data-dark-overlay="6" style="background:url({% static 'img/breadcrumb-bg.jpg' %}) no-repeat">
  <div class="container">
    <h1 class="text-white">
      Event Details
    </h1>
    <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0">  
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Event</a></li>
      <li class="breadcrumb-item">Event Details</li>
    </ol>
  </div>
</div>
   
   
<section class="padding-y-60 bg-light">
  <div class="container">
    <div class="row">
     
      <div class="col-lg-8 mt-4">
       <div class="card shadow-v1">
         <div class="position-relative">
          {% if event.event_pic %}
            <img class="card-img-top w-100" src="{{ event.event_pic.url }}" alt="Event-Picture" height="380">
          {% else %}
            <img class="card-img-top w-100" src="{% static 'img/events.png' %}" alt="Event-Picture" height="380">
          {% endif %}
          
        
         </div>
         <div class="card-body padding-40">
           <h2 class="card-title">
             {{ event.title }}
           </h2>
           <ul class="nav tab-line tab-line border-bottom my-4 text-gray" role="tablist">
            
           
           </ul>

            <div class="tab-content">
             
              <div class="tab-pane fade active show" id="Tabs_1-1" role="tabpanel">
               <h4 class="mb-3">
                 About The Event
               </h4>
               <p>
                  {{ event.description }}
               </p>
              
                
              
             

              </div> <!-- END tab-pane-->
              
           
             
              
            </div> <!-- END tab-content-->
         </div>
       </div>
      </div>
      
      <div class="col-lg-4 mt-4">
        <div class="card shadow-v1">
          <div class="card-body">
            <h4 class="mb-2">
              Event Quick Information
            </h4>
            
            <div class="border-bottom py-3">
              <div class="media">
                <i class="ti-calendar text-primary mt-2"></i>
                <div class="media-body ml-3">
                  <h6 class="my-0">Date</h6>
                  <span>{% if event.is_same_yearmonth %}
                      {{ event.start_date|date:"d" }} - {{ event.end_date|date:"d" }} {{ event.start_date|date:"M, Y" }}
                    {% elif event.is_same_year %}
                      {{ event.start_date|date:"d M" }} - {{ event.end_date|date:"d M" }}, {{ event.start_date|date:"Y" }}
                    {% else %}
                      {{ event.start_date|date:"d M, Y" }} - {{ event.end_date|date:"d M, Y" }}
                    {% endif %}</span>
                </div>
              </div>
            </div>
            
            <div class="border-bottom py-3">
              <div class="media">
                <i class="ti-time text-primary mt-2"></i>
                <div class="media-body ml-3">
                  <h6 class="my-0">Time</h6>
                  <span>{{ event.start_time }} - {{ event.end_time }}</span>
                </div>
              </div>
            </div>
            
            <div class="border-bottom py-3">
              <div class="media">
                <i class="ti-location-pin text-primary mt-2"></i>
                <div class="media-body ml-3">
                  <h6 class="my-0">Venue</h6>
                  <span>{{ event.location }}</span>
                </div>
              </div>
            </div>
            
            
         
          </div>
        </div>
        
    
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>


{% endblock %}