{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="padding-y-60 bg-cover" data-dark-overlay="6" style="background:url({% static 'img/breadcrumb-bg.jpg' %}) no-repeat">
  <div class="container">
    <h1 class="text-white">
      Events
    </h1>
    <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0">  
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item">Events</li>
    </ol>
  </div>
</div>
    
   
   
   
<section class="padding-y-60 bg-light">
  <div class="container">
   
    
    
    <div class="row">
     
    {% if events %}        
        {% for event in events %}
      <div class="col-lg-4 col-md-6 marginTop-30">
        <div class="card height-100p shadow-v1">
          {% if event.event_pic %}
            <img class="card-img-top" src="{{ event.event_pic.url }}" alt="Event-Picture" height="220">
          {% else %}
            <img class="card-img-top" src="{% static 'img/events.png' %}" alt="Event-Picture" height="220">
          {% endif %}
          <div class="card-body">
            <a href="#" class="h4">
              {{ event.title }}
            </a>
            <ul class="list-unstyled line-height-lg mt-4">
              <li><i class="ti-time text-primary mr-2"></i>
                {% if event.is_same_yearmonth %}
                  {{ event.start_date|date:"d" }} - {{ event.end_date|date:"d" }} {{ event.start_date|date:"M, Y" }}
                {% elif event.is_same_year %}
                  {{ event.start_date|date:"d M" }} - {{ event.end_date|date:"d M" }}, {{ event.start_date|date:"Y" }}
                {% else %}
                  {{ event.start_date|date:"d M, Y" }} - {{ event.end_date|date:"d M, Y" }}
                {% endif %}
                
                </li>
              <li><i class="ti-location-pin text-primary mr-2"></i>{{ event.location }}</li>
            </ul>
            <a href="{% url 'event-inner' event.id %}" class="btn btn-link pl-0">View Details</a>
          </div>
        </div>
      </div>
      {% endfor %}
                
      <div class="col-12 marginTop-80">

          {% if events.has_other_pages %}
          <ul class="pagination pagination-primary justify-content-center">

            {% if events.has_previous %}
            <li class="page-item mx-1">
              <a class="page-link iconbox iconbox-sm rounded-0" href="?page={{ events.previous_page_number }}">
                <i class="ti-angle-left small"></i>
              </a>
            </li>
            {% else %}
            <li class="page-item mx-1 disabled">
                <a class="page-link iconbox iconbox-sm rounded-0">
                  <i class="ti-angle-left small"></i>
                </a>
              </li>
            {% endif %}

            {% for i in events.paginator.page_range %}
              {% if events.number == i %}
                <li class="page-item mx-1 active">
                  <a class="page-link iconbox iconbox-sm rounded-0">{{ i }}</a>
                </li>
              {% else %}
                <li class="page-item mx-1">
                  <a class="page-link iconbox iconbox-sm rounded-0" href="?page={{ i }}">{{ i }}</a>
                </li>
              {% endif %}
            {% endfor %}

            {% if events.has_next %}
              <li class="page-item mx-1">
                <a class="page-link iconbox iconbox-sm rounded-0" href="?page={{ events.next_page_number }}">
                  <i class="ti-angle-right small"></i>
                </a>
              </li>
            {% else %}
              <li class="page-item mx-1 disabled">
                  <a class="page-link iconbox iconbox-sm rounded-0">
                    <i class="ti-angle-right small"></i>
                  </a>
                </li>
            {% endif %}

          </ul>
          {% endif %}
        </div>
    {% else %}
      <div class="media align-items-center mt-4 mb-4">
          There are no Events to display now.
      </div>
    {% endif %}
     
      
      
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>

{% endblock %}