{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="py-5 bg-cover" data-dark-overlay="6" style="background:url({% static 'img/1920/658_2.jpg' %}) no-repeat">
  <div class="container">
    <h2 class="text-white">
     Gallery
    </h2>
    <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0">  
      <li class="breadcrumb-item"><a href="#">Home</a></li>
    
      <li class="breadcrumb-item">Gallery</li>
    </ol>
  </div>
</div>
    
<section class="padding-y-65">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-md-4">
        <h2 class="mb-4">
          Campus Life
        </h2>
        <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
      </div>
    </div> <!-- END row-->
    <div class="row">
      <div class="col-lg-6 marginTop-30">
        <img class="w-100" src="{% static 'img/dk/g1.jpg' %}" alt="">
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-6 marginTop-30">
            <div class="position-relative">
              <img class="w-100" src="{% static 'img/dk/g2jpg.jpg' %}" alt="">
             
            </div>
          </div>
          <div class="col-md-6 marginTop-30">
            <div class="position-relative">
              <img class="w-100" src="{% static 'img/dk/g3.jpg' %}" alt="">
             
            </div>
          </div>
          <div class="col-md-6 marginTop-30">
            <div class="position-relative">
              <img class="w-100" src="{% static 'img/dk/g4.jpg' %}" alt="">
              
            </div>
          </div>
          <div class="col-md-6 marginTop-30">
            <div class="position-relative">
              <img class="w-100" src="{% static 'img/dk/g2jpg.jpg' %}" alt="">
             
            </div>
          </div>
        </div>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> 
<section class=" padding-y-65 bg-black-0_9">
    <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 mr-auto my-4 text-white">
        <h2>Subscribe to <span class="text-primary">Newsletter</span></h2>
        <p class="lead">
          Get notified about new courses, events, community & more
        </p>
      </div>
      <div class="col-md-6 my-4 wow zoomIn">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text ti-email bg-white"></div>
        </div>
        <input type="text" placeholder="Enter your email" class="form-control py-3 pl-0 border-white" required>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Subscribe</button>
        </div>
      </div>
      </div>
    </div> <!-- END row-->
    </div>
  </section>


{% endblock %}