{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="padding-y-60 bg-cover" data-dark-overlay="6" style="background:url({% static 'img/breadcrumb-bg.jpg' %}) no-repeat">
  <div class="container">
    <h1 class="text-white">
      About
    </h1>
    <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0">  
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item">Goals</li>
    </ol>
  </div>

</div>
<section class="padding-y-100">
    <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h2>
          What We offer
        </h2>
        <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40"></div>
        <p class="mb-5">
          Nam liber tempor cum soluta nobis eleifend option congue is nihil imper iper tem por legere me that doming vulputate velit esse molestie possim wisi enim ad placerat facer possim.
        </p>
        <div class="media mb-4">
          <i class="ti-user text-primary font-size-30 mt-2"></i>
          <div class="media-body pl-3">
            <h4 class="h5">Work With Any Team</h4>
            <p>
              Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me that doming vulputate.
            </p>
          </div>
        </div>
        <div class="media mb-4">
          <i class="ti-basketball text-primary font-size-30 mt-2"></i>
          <div class="media-body pl-3">
            <h4 class="h5">A Productivity Platform</h4>
            <p>
              Nam liber tempor cum soluta nobis eleifend option congue is nihil imper per tem por legere me that doming vulputate.
            </p>
          </div>
        </div>
      </div> <!-- END col-lg-6 ml-auto-->
      <div class="col-lg-5 mb-4 mr-auto text-center">
        <img class=" w-100 rounded" src="{% static 'img/360x300/4.jpg' %}" alt="">
      </div> 
    </div> <!-- END row-->
    </div> <!-- END container-->
   </section>
   
   
   
   
   
   <section class="padding-y-120 bg-light-v4">
   <div class="container">
     <div class="row">
       <div class="col-12 text-center">
         <h2>
          Our Benefits
        </h2>
        <div class="width-3rem height-4 rounded bg-primary mx-auto mb-4"></div>
       </div>
       
       <div class="col-md-6 mt-5">
         <h4>Work From Anywhere</h4>
         <p>
           Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate   
         </p>
       </div>
       
       <div class="col-md-6 mt-5">
         <h4>Paid Parental Leave</h4>
         <p>
           Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate   
         </p>
       </div>
       
       <div class="col-md-6 mt-5">
         <h4>Flexible Hours</h4>
         <p>
           Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate     
         </p>
       </div>
       
       <div class="col-md-6 mt-5">
         <h4>Wellness Program</h4>
         <p>
           Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate     
         </p>
       </div>
       
       <div class="col-md-6 mt-5">
         <h4>Mentoring Program</h4>
         <p>
           Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate     
         </p>
       </div>
       
       <div class="col-md-6 mt-5">
         <h4>Social Events</h4>
         <p>
           Nam liber tempor cum soluta nobis eleifend option congue is nihil imper  per tem por legere me that doming vulputate     
         </p>
       </div>
       
     </div> <!-- END row-->
   </div> <!-- END container-->
 </section>
 

 {% endblock %}