{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
  </ol>
  
  <div class="carousel-inner">
    <div class="carousel-item padding-y-80 height-90vh active">
     <div class="bg-absolute" data-dark-overlay="4" style="background:url('{% static 'img/dk/s1.jpg' %}') no-repeat"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-10 mx-auto text-center text-white">
              <h1 class="display-lg-4 font-weight-bold animated slideInUp">
                DIllibazar Kanya   Multiple Campus
              </h1>
              <p class="lead animated fadeInUp">
               37 years of excellence
              </p>
            
            </div>
          </div>
        </div>
    </div>
    <div class="carousel-item padding-y-80 height-90vh">
     <div class="bg-absolute" data-dark-overlay="4" style="background:url('{% static 'img/dk/s2.jpg' %}') no-repeat"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-10 mx-auto text-center text-white">
              <h1 class="display-lg-4 font-weight-bold animated slideInUp">
                DIllibazar Kanya   Multiple Campus
              </h1>
              <p class="lead animated fadeInUp">
              
              </p>
             
            </div>
          </div>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <i class="ti-angle-left iconbox bg-black-0_5 hover:primary"></i>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <i class="ti-angle-right iconbox bg-black-0_5 hover:primary"></i>
  </a>
</div>
<section class="padding-y-65">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row align-items-center">
          <div class="col-md-6 my-5">
           <div class="position-relative">
            <img class="rounded " src="{% static 'img/dk/chief1.jpg' %}" alt="">
            
           </div>
          </div>
          <div class="col-md-6 mt-4">
            <h2>
              <small class="d-block text-black">Messeage From The</small>
               <span class="text-primary">Campus Chief </span> 
            </h2>
            <p class="my-4">
            The achievements of Dillibazar Kanya Campus in the last three decades are clear as the daylight before all aof us. We have dedicated ourselces in the past and
at present in imparting highly qualititaive and professional university education to aspiring students in Humanities, Management and Education at Bachelor's and
Master's level. I highly appreciate the contrubution and support of our patrons, students, teachers, guardians, supporters, well-wishers and friends on this occasion.
With similar support and cooperation from all, we will definitely mark further heights of success and achievement in the days to come.
I extend my warm welcome to all the students. 
            </p>
            
          </div> 
       
        </div>
      </div>
      <div class="col-lg-4 mt-5 mt-md-0">
        <div class="card shadow-v2 z-index-5" data-offset-top-xl="-160">
          <div class="card-header bg-primary text-white border-bottom-0">
            <span class="lead font-semiBold text-uppercase">
                <a href="{% url 'notices' %}" class="notice-color">Notice Board</a> 
            </span>
          </div>

          {% if notices %}        
            {% for notice in notices %}
          <div class="p-4 border-bottom wow fadeInUp">
            <p class="text-primary mb-1">
              {{ notice.notice_date|date:'M d, Y ' }}
            </p>
            <a href="{% url 'notice-inner' notice.id %}">
                {{ notice.title }}
            </a>
          </div>
          {% endfor %}
        {% else %}
          <div class="p-4 border-bottom wow fadeInUp">
              There are no notice to display now.
          </div>
        {% endif %}
          <div class="p-4">
            <a href="{% url 'notices' %}" class="btn btn-link pl-0">
              View All Notices
            </a>
          </div>
        </div>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>



<section class="padding-y-65" data-primary-overlay="7" style="background:url('{% static 'img/1920/962.jpg' %}') no-repeat">
  <div class="container">
    <div class="row">
     
      <div class="col-12 text-center text-white mb-md-4">
        <h2 class="mb-4">
          Upcoming Events
        </h2>
        <div class="width-3rem height-4 rounded bg-white mx-auto"></div>
      </div>
    </div>
      
      <div class="row">
      {% if events %}        
          {% for event in events %}
      <div class="col-md-4 mt-4"> 
        <div class="card">
          {% if event.event_pic %}
            <img class="card-img-top" src="{{ event.event_pic.url }}" alt="Event-Picture" height="220">
          {% else %}
            <img class="card-img-top" src="{% static 'img/events.png' %}" alt="Event-Picture" height="220">
          {% endif %}
          <div class="card-body">
            <h4 class="h5">
              {{ event.title }}
            </h4>
            <ul class="list-unstyled my-4 line-height-xl">
              <li>
                 <i class="ti-time mr-2 text-primary"></i>
                 {{ event.start_date|date:"M d, Y" }} @ {{ event.start_time }}
              </li>
              <li>
                 <i class="ti-location-pin mr-2 text-primary"></i>
                 {{ event.location }}
              </li>
            </ul>
            <a href="{% url 'event-inner' event.id %}" class="text-primary">
              View Details
              <i class="ti-angle-double-right small"></i>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="col-12 mt-5 text-center">
          <a href="{% url 'events' %}" class="btn btn-outline-white-hover">More Events</a>
        </div>
      {% else %}
      <div class="col-md-12 mt-4"> 
          <div class="card">
            <p class="card-title text-center pt-2">There are no any events to display now.</p>
          </div>
      </div>
      {% endif %}
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> 


   
  
   
    
<section class="padding-y-65">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-md-4">
        <h2 class="mb-4">
          Campus Life
        </h2>
        <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
      </div>
    </div> <!-- END row-->
    <div class="row">
      <div class="col-lg-6 marginTop-30">
        <img class="w-100" src="{% static 'img/dk/g1.jpg' %}" alt="">
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-6 marginTop-30">
            <div class="position-relative">
              <img class="w-100" src="{% static 'img/dk/g2jpg.jpg' %}" alt="">
             
            </div>
          </div>
          <div class="col-md-6 marginTop-30">
            <div class="position-relative">
              <img class="w-100" src="{% static 'img/dk/g3.jpg' %}" alt="">
             
            </div>
          </div>
          <div class="col-md-6 marginTop-30">
            <div class="position-relative">
              <img class="w-100" src="{% static 'img/dk/g4.jpg' %}" alt="">
              
            </div>
          </div>
          <div class="col-md-6 marginTop-30">
            <div class="position-relative">
              <img class="w-100" src="{% static 'img/dk/g2jpg.jpg' %}" alt="">
             
            </div>
          </div>
        </div>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> 
    
    
 
 

<section class=" courses-back paddingTop-60 paddingBottom-100" data-dark-overlay="6" >
  <div class="container">
    <div class="row text-center text-white">
     
      <div class="col-lg-3 col-md-6 mt-5 wow zoomIn" data-wow-delay=".1">
        <h2 class="h1 text-primary">
          5
        </h2>
        <p class="lead">
           Courses
        </p>
      </div>
     
      <div class="col-lg-3 col-md-6 mt-5 wow zoomIn" data-wow-delay=".2">
        <h2 class="h1 text-primary">
          20
        </h2>
        <p class="lead">
          Trusted Tutors
        </p>
      </div>
     
      <div class="col-lg-3 col-md-6 mt-5 wow zoomIn" data-wow-delay=".3">
        <h2 class="h1 text-primary">
          300
        </h2>
        <p class="lead">
           Students
        </p>
      </div>
     
      <div class="col-lg-3 col-md-6 mt-5 wow zoomIn" data-wow-delay=".4">
        <h2 class="h1 text-primary">
          10
        </h2>
        <p class="lead">
          Class Types
        </p>
      </div>
      
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>  
  
    
      
        
            
<section class="bg-light-v2 padding-y-65">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-md-4">
        <h2 class="mb-4">
          Campus News
        </h2>
        <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
      </div>
    </div> <!-- END row-->
    <div class="row">
      <div class="col-lg-6">
        <div class="list-card align-items-center marginTop-30">
          <div class=" news-image col-md-4 px-md-0">
            <img class="w-100" src="{% static 'img/dk/cn1.jpg' %}" alt="">
          </div>
          <div class="col-md-8 p-4">
            <p class="text-primary">June 9, 2019</p>
            <a href="#" class="h5">
            Parents day
            </a>
          </div>
        </div>
        <div class="list-card align-items-center marginTop-30">
          <div class=" news-image col-md-4 px-md-0">
            <img class="w-100" src="{% static 'img/dk/cn2.jpg' %}" alt="">
          </div>
          <div class="col-md-8 p-4">
            <p class="text-primary">June 12, 2019</p>
            <a href="#" class="h5">
          Saraswati puja
            </a>
          </div>
        </div>
        <div class="list-card align-items-center marginTop-30">
          <div class=" news-image col-md-4 px-md-0">
            <img class="w-100" src="{% static 'img/dk/cn3.jpg' %}" alt="">
          </div>
          <div class="col-md-8 p-4">
            <p class="text-primary">June 17, 2019</p>
            <a href="#" class="h5">
            Sports day
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 marginTop-30">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/dk/cn4.jpg' %}" alt="">
          <div class="card-body">
           <p class="text-primary">
             20 July 2019
            </a>
           </h4>
           <p>
             BLood donation Campaign
           </p>
            <a href="#" class="btn btn-outline-primary">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> 

 
  
   

<!-- <section class=" padding-y-65 bg-black-0_9">
    <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 mr-auto my-4 text-white wow slideInUp">
        <h2>Subscribe to <span class="text-primary">Newsletter</span></h2>
        <p class="lead">
          Get notified about new courses, events, community & more
        </p>
      </div>
      <div class="col-md-6 my-4 wow zoomIn">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text ti-email bg-white"></div>
        </div>
        <input type="text" placeholder="Enter your email" class="form-control py-3 pl-0 border-white" required>
        <div class="input-group-append">
          <button class="btn btn-primary" type="submit">Subscribe</button>
        </div>
      </div>
      </div>
    </div>
    </div>
  </section> -->


{% endblock %}
