{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="padding-y-60 bg-cover" data-dark-overlay="6" style="background:url({% static 'img/breadcrumb-bg.jpg' %}) no-repeat">
  <div class="container">
    <h1 class="text-white">
      About
    </h1>
    <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0">  
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item">Chairman</li>
    </ol>
  </div>
</div>
<section class="padding-y-100 border-bottom">
    <div class="container">
    <div class="row align-items-center">

        <div class="col-lg-5 mb-4 mr-auto text-center">
            <img class=" w-100 rounded" src="{% static 'img/384x320/3.jpg' %}" alt="">
        </div> 

        <div class="col-lg-6">
            <h2>
              Our <span class="text-primary">Mission</span>
            </h2>
            <div class="width-4rem height-4 bg-primary rounded mt-4 marginBottom-40"></div>
            <p class="mb-5">
                DKMC will aims to be  a higher education institution of choice for women of diverse backgrounds who seek access to exceptional educational programs and will focus on three guiding threads: leadership, social responsibility, and global awareness. With care and respect for each student, we will empower women to enrich their lives, realize their full potential, and make valuable contributions to society. DKMC is a growing, vibrant, distinctive, and selective college for women, well known and respected for programs delivered in multiple and accessible formats, up-to-date facilities, and academic excellence.
            </p>
            <!-- <ul class="list-unstyled list-style-icon list-icon-check-circle">
                <li>
                    
                </li>
                <li>
                   
                </li>
                <li>
                  
                </li>
                <li>
                   
                </li>
            </ul> -->
        </div> <!-- END col-lg-6 ml-auto-->
    </div> <!-- END row-->
    </div> <!-- END container-->
   </section>


   {% endblock %}