{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="padding-y-80 bg-cover" data-dark-overlay="6" style="background:url({% static 'img/breadcrumb-bg.jpg' %}) no-repeat">
  <div class="container">
    <h2 class="text-white">
      Research Details
    </h2>
    <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0">  
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Page</a></li>
      <li class="breadcrumb-item">News Details</li>
    </ol>
  </div>
</div>
    
   
            
<section class="paddingBottom-100 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mt-5">
       <div class="card align-items-start shadow-v1 p-5">
        <img src="{% static 'img/750/450.jpg' %}" alt="">
         <ul class="list-inline mt-4 text-gray">
           <li class="list-inline-item mr-3">
             <i class="ti-time mr-1"></i>
             6 Aug, 2018
           </li>
         </ul>
         <h4 class="mb-4">
           Clinical Researchers
         </h4>
         <p class="font-weight-semiBold">
           John D. Da Silva , DMD, MPH, ScM, Vice Dean; Associate Professor, Department of Restorative Dentistry and Biomaterials Sciences; Medical Director, Educati Dental Center
         </p>
         <p>
           Investig tiones demons travge wunt ectores legere lkurus quod legunt saepiu clartas est consectetur adipi sicing elitsed kdo eusmod tempor cididunt wuti labore edolore magna aliqua. Consectetur adipi sicing. Investig tiones demons travge wunt ectores legere lkurus quod legunt saepiu clartas est consectetur adipi sicing elitsed kdo eusmod tempor cididunt wuti labore edolore magna aliqua. Consectetur adipi sicing.Investig tiones demons travge wunt ectores legere lkurus quod legunt saepiu clartas est consectetur adipi sicing elitsed kdo eusmod tempor cididunt.
         </p>
         <p>
            Investig tiones demons travge wunt ectores legere lkurus quod legunt saepiu clartas est consectetur adipi sicing elitsed kdo eusmod tempor cididunt. Investig tiones demons travge wunt ectores legere lkurus quod legunt saepiu clartas est consectetur adipi sicing elitsed kdo eusmod tempor cididunt.
         </p>
         <h4 class="my-4">HSDM Research Office</h4>
         <p>
            Investig tiones demons travge wunt ectores legere lkurus quod legunt saepiu clartas est consectetur adipi sicing elitsed kdo eusmod tempor cididunt. Investig tiones demons travge wunt ectores legere lkurus quod legunt saepiu clartas est consectetur adipi sicing elitsed kdo eusmod tempor cididunt.
         </p>
       </div>
      </div> 
     
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> 


{% endblock %}