{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="padding-y-60 bg-cover" data-dark-overlay="6" style="background:url({% static 'img/breadcrumb-bg.jpg' %}) no-repeat">
  <div class="container">
    <h1 class="text-white">
      News
    </h1>
    <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0">  
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item">News</li>
    </ol>
  </div>
</div>
<section class="bg-light-v2 padding-y-65">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center mb-md-4">
        <h2 class="mb-4">
          Campus News
        </h2>
        <div class="width-3rem height-4 rounded bg-primary mx-auto"></div>
      </div>
    </div> <!-- END row-->
    <div class="row">
      <div class="col-lg-6">
        <div class="list-card align-items-center marginTop-30">
          <div class=" news-image col-md-4 px-md-0">
            <img class="w-100" src="{% static 'img/dk/cn1.jpg' %}" alt="">
          </div>
          <div class="col-md-8 p-4">
            <p class="text-primary">June 9, 2019</p>
            <a href="#" class="h5">
            Parents day
            </a>
          </div>
        </div>
        <div class="list-card align-items-center marginTop-30">
          <div class=" news-image col-md-4 px-md-0">
            <img class="w-100" src="{% static 'img/dk/cn2.jpg' %}" alt="">
          </div>
          <div class="col-md-8 p-4">
            <p class="text-primary">June 12, 2019</p>
            <a href="#" class="h5">
          Saraswati puja
            </a>
          </div>
        </div>
        <div class="list-card align-items-center marginTop-30">
          <div class=" news-image col-md-4 px-md-0">
            <img class="w-100" src="{% static 'img/dk/cn3.jpg' %}" alt="">
          </div>
          <div class="col-md-8 p-4">
            <p class="text-primary">June 17, 2019</p>
            <a href="#" class="h5">
            Sports day
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 marginTop-30">
        <div class="card">
          <img class="card-img-top" src="{% static 'img/dk/cn4.jpg' %}" alt="">
          <div class="card-body">
           <p class="text-primary">
             20 July 2019
            </a>
           </h4>
           <p>
             BLood donation Campaign
           </p>
            <a href="#" class="btn btn-outline-primary">
              Read More
            </a>
          </div>
        </div>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> 

{% endblock %}