{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="padding-y-60 bg-cover" data-dark-overlay="6" style="background:url({% static 'img/1920/658_2.jpg' %}) no-repeat">
  <div class="container">
    <h2 class="text-white">
      Notice
    </h2>
    <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0">  
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Page</a></li>
      <li class="breadcrumb-item">Notice</li>
    </ol>
  </div>
</div>
    
   
            
<section class="paddingTop-50 paddingBottom-100 bg-light-v2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mt-5">
      
        {% if notices %}        
          {% for notice in notices %}
          <div class="d-md-flex justify-content-between align-items-center bg-white shadow-v1 rounded mb-4 py-4 px-5">
            <div class="media align-items-center">
              <div class="text-center border-right pr-4">
              <strong class="text-primary font-size-38">
                {{ notice.notice_date|date:'d ' }}
              </strong>
                <p class="mb-0 text-gray">
                  {{ notice.notice_date|date:'M, Y ' }}
                </p>
              </div>
              <div class="media-body p-4">
              <p class="mb-1 text-gray">
                <i class="ti-file"></i>
                {{ notice.notice_type }}
              </p>
                <a href="{% url 'notice-inner' notice.id %}" class="h5">
                    {{ notice.title }}
                </a>
              </div>
            </div>
            <a href="{% url 'notice-inner' notice.id %}" class="btn btn-outline-primary">Read More</a> 
          </div>
          {% endfor %}
          
          <div class="col-12 marginTop-80">

              {% if notices.has_other_pages %}
              <ul class="pagination pagination-primary justify-content-center">

                {% if notices.has_previous %}
                <li class="page-item mx-1">
                  <a class="page-link iconbox iconbox-sm rounded-0" href="?page={{ notices.previous_page_number }}">
                    <i class="ti-angle-left small"></i>
                  </a>
                </li>
                {% else %}
                <li class="page-item mx-1 disabled">
                    <a class="page-link iconbox iconbox-sm rounded-0">
                      <i class="ti-angle-left small"></i>
                    </a>
                  </li>
                {% endif %}

                {% for i in notices.paginator.page_range %}
                  {% if notices.number == i %}
                    <li class="page-item mx-1 active">
                      <a class="page-link iconbox iconbox-sm rounded-0">{{ i }}</a>
                    </li>
                  {% else %}
                    <li class="page-item mx-1">
                      <a class="page-link iconbox iconbox-sm rounded-0" href="?page={{ i }}">{{ i }}</a>
                    </li>
                  {% endif %}
                {% endfor %}

                {% if notices.has_next %}
                  <li class="page-item mx-1">
                    <a class="page-link iconbox iconbox-sm rounded-0" href="?page={{ notices.next_page_number }}">
                      <i class="ti-angle-right small"></i>
                    </a>
                  </li>
                {% else %}
                  <li class="page-item mx-1 disabled">
                      <a class="page-link iconbox iconbox-sm rounded-0">
                        <i class="ti-angle-right small"></i>
                      </a>
                    </li>
                {% endif %}

              </ul>
              {% endif %}
            </div>
        {% else %}
        <div class="d-md-flex justify-content-between align-items-center bg-white shadow-v1 rounded mb-4 py-4 px-5">
          <div class="media align-items-center">
              There are no notice to display now.
          </div>
        </div>
        {% endif %}
        
        
      </div> 
      
      
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> 


{% endblock %}