{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="padding-y-60 bg-cover" data-dark-overlay="6" style="background:url({% static 'img/1920/658_2.jpg' %}) no-repeat">
  <div class="container">
    <h2 class="text-white">
      Notice Details
    </h2>
    <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0">  
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Page</a></li>
      <li class="breadcrumb-item">Notice Details</li>
    </ol>
  </div>
</div>
    
   
            
<section class="paddingTop-50 paddingBottom-100 bg-light-v2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mt-5">
       <div class="card align-items-start shadow-v1 p-5">
         <ul class="list-inline text-gray">
           <li class="list-inline-item mr-3">
             <i class="ti-file mr-1"></i>
             {{ notice.notice_type }}
           </li>

           {% if notice.notice_date %}
           <li class="list-inline-item mr-3">
             <i class="ti-time mr-1"></i>
             {{ notice.notice_date|date:'d M Y'}}
           </li>
           {% endif %}

           {% if notice.location %}
           <li class="list-inline-item mr-3">
             <i class="ti-location-pin mr-1"></i>
             {{ notice.location}}
           </li>
           {% endif %}
         </ul>
         <h4 class="mb-4">
            {{ notice.title }}
         </h4>
         {% if notice.description %}
          {{ notice.description }}
         {% endif %}
         {% if notice.notice_pic %}
          <br><br> <a href="{{ notice.notice_pic.url }}"><img src="{{ notice.notice_pic.url }}" alt="Notice-image" height="280"></a><br>
         {% endif %}
         <a href="{% url 'notices' %}" class="btn btn-primary mt-4">Back To Notices</a>
       </div>
      </div> 
     
    </div> <!-- END row-->
  </div> <!-- END container-->
</section> 



{% endblock %}