{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="paddingTop-50 paddingBottom-100 bg-light">
  <div class="container">
    <div class="row">
     
      <div class="col-lg-4 col-md-6 marginTop-30">
        <div class="card height-100p shadow-v1">
          <img class="card-img-top" src="http://www.lbef.org/wp-content/uploads/2019/07/LBEF_RESIZE_1200480_bbm-1170x481.jpg" alt="">
          <div class="card-body">
           <a href="{% url 'program-detail' %}" class="h4">
             B.B.M
           </a>
            <ul class="list-unstyled mt-4 mb-0">
             
              <li>Lecturers: <span class="font-weight-semiBold">38</span></li>
              <li>Students: <span class="font-weight-semiBold">80</span></li>
            </ul>
          </div>
        </div>
      </div>
     
      <div class="col-lg-4 col-md-6 marginTop-30">
        <div class="card height-100p shadow-v1">
          <img class="card-img-top" src="https://plmc.edu.np/plmc-admin/coursesimages/BBS.jpg" alt="">
          <div class="card-body">
          <a href="{% url 'program-detail' %}"class="h4">
            B.B.S
             
           </a>
            <ul class="list-unstyled mt-4 mb-0">
             
              <li>Lecturers: <span class="font-weight-semiBold">38</span></li>
              <li>Students: <span class="font-weight-semiBold">80</span></li>
            </ul>
          </div>
        </div>
      </div>
     
      <div class="col-lg-4 col-md-6 marginTop-30">
        <div class="card height-100p shadow-v1">
          <img class="card-img-top" src="https://www.thelakewoodscoop.com/news/wp-content/uploads/2018/08/grad.jpg" alt=""> 
          <div class="card-body">
          <a href="{% url 'program-detail' %}" class="h4">
              B.A
           </a>
            <ul class="list-unstyled mt-4 mb-0">
            
              <li>Lecturers: <span class="font-weight-semiBold">38</span></li>
              <li>Students: <span class="font-weight-semiBold">80</span></li>
            </ul>
          </div>
        </div>
      </div>
     
      <div class="col-lg-4 col-md-6 marginTop-30">
        <div class="card height-100p shadow-v1">
          <img class="card-img-top" src="https://www.collegechoice.net/wp-content/uploads/2017/04/Best-Online-Bachelors-in-Education.jpg" alt="">
          <div class="card-body">
            <a href="{% url 'program-detail' %}" class="h4">             
              B.E.D
           </a>
            <ul class="list-unstyled mt-4 mb-0">
            
              <li>Lecturers: <span class="font-weight-semiBold">38</span></li>
              <li>Students: <span class="font-weight-semiBold">80</span></li>
            </ul>
          </div>
        </div>
      </div>
     
      <div class="col-lg-4 col-md-6 marginTop-30">
        <div class="card height-100p shadow-v1">
          <img class="card-img-top" src="http://www.shcollege.ac.in/Images/NewsImages/sociol.png" alt="">
          <div class="card-body">
            <a href="{% url 'program-detail' %}" class="h4">
              M.A(Socialogy)
           </a>
            <ul class="list-unstyled mt-4 mb-0">
             
              <li>Lecturers: <span class="font-weight-semiBold">38</span></li>
              <li>Students: <span class="font-weight-semiBold">80</span></li>
            </ul>
          </div>
        </div>
      </div>
     
      <div class="col-lg-4 col-md-6 marginTop-30">
        <div class="card height-100p shadow-v1">
          <img class="card-img-top" src="https://english.leads.edu.pk/wp-content/uploads/2018/09/2.png" alt="">
          <div class="card-body">
            <a href="{% url 'program-detail' %}" class="h4">
              M.A(English)
           </a>
            <ul class="list-unstyled mt-4 mb-0">
             
              <li>Lecturers: <span class="font-weight-semiBold">38</span></li>
              <li>Students: <span class="font-weight-semiBold">80</span></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-12 marginTop-70">
        <ul class="pagination pagination-primary justify-content-center">
          <li class="page-item mx-1">
            <a class="page-link iconbox iconbox-sm rounded-0" href="#">
              <i class="ti-angle-left small"></i>
            </a>
          </li>
          <li class="page-item mx-1">
            <a class="page-link iconbox iconbox-sm rounded-0" href="#">1</a>
          </li>
          <li class="page-item active disabled mx-1">
            <a class="page-link iconbox iconbox-sm rounded-0" href="#">2</a>
          </li>
          <li class="page-item disabled mx-1">
            <a class="page-link iconbox iconbox-sm rounded-0" href="#">
              <i class="ti-more-alt"></i>
            </a>
          </li>
         
          <li class="page-item mx-1">
            <a class="page-link iconbox iconbox-sm rounded-0" href="#">
              <i class="ti-angle-right small"></i>
            </a>
          </li>
        </ul>
      </div>
    </div> <!-- END row-->
  </div> <!-- END container-->
</section>


{% endblock %}