{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="padding-y-60 bg-cover" data-dark-overlay="6" style="background:url({% static 'img/breadcrumb-bg.jpg' %}) no-repeat">
  <div class="container">
    <h1 class="text-white">
      Program
    </h1>
    <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0">  
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item">BBM</li>
    </ol>
  </div>
</div>
<div class="container">
    

 <div class="col-12 mt-4">
     
          <div class="tab-content">
            <div class="tab-pane fade show active" id="tabDescription" role="tabpanel">
              <h4>
                Course Description
              </h4>
              <p>
                Bachelor of Business Management (BBM) is a newly launched 4 years, 8 semester course of Tribhuvan University faculty of management. Each semester constitute 
of 16 weeks of intensive study. The program covers 120 credit hours.Students who want to enroll for BBM Program must pass the CMAT examination.  
The BBM program of Faculty of Management, Tribhuvan University is designed for aspiring business leaders and managers of the future. </p> 
<p>
The BBM graduates are equipped
 with the necessary knowledge, skills and self-confidence to assist in effective and successful management, within constantly changing and highly competitive
 national and global business environment. This course has been designed with the objective of producing middle-level managerial manpower in the sectoral areas.

              </p>
             
              
              <div class="row mt-5">
               <div class="col-12">
                 <h4>
                  Program Objective of BBM:
                </h4>
               </div>
                <div class="col-md-12 my-2">
                  <ul class="list-unstyled list-style-icon list-icon-check">
                    <li> Develop students’ skills in creative thinking, decision making, leadership, communication, and gain understanding of operations and change</li>
                    <li>Prepare students for professional life to work as business manager and entrepreneur.
                    </li>
                    <li> Develop students’ understanding of entrepreneurship and innovation, and effective management of business operations in a dynamic business environment.</li>
                   
                  </ul>
                </div> 
              
                
              
                
             
              </div> <!-- END row-->
            </div> <!-- END tab-pane-->
            
            <div class="tab-pane fade" id="tabCurriculum" role="tabpanel">
            <div id="accordionCurriculum">

              <div class="accordion-item list-group mb-3">

                <div class="list-group-item bg-light">
                 <a class="row" href="#accordionCurriculum_1" data-toggle="collapse" aria-expanded="true">
                   <span class="col-9 col-md-8">
                     <span class="accordion__icon text-primary mr-2">
                      <i class="ti-plus"></i>
                      <i class="ti-minus"></i>
                    </span>
                    <span class="h6 d-inline">Getting Started</span>
                   </span>
                   <span class="col-2 d-none d-md-block text-right">
                     6 Lectures
                   </span>
                   <span class="col-3 col-md-2 text-right">
                     20:20
                   </span>
                 </a>
                </div>

                <div id="accordionCurriculum_1" class="collapse show" data-parent="#accordionCurriculum">

                  <div class="list-group-item">
                    <span class="row">
                      <a class="col-9 col-md-8" href="#">
                        <i class="ti-control-play small mr-1 text-primary"></i>
                        Introduction To Getting Started Section
                      </a>
                      <span class="col-2 d-none d-md-block text-right">
                        <a href="https://www.youtube.com/embed/nrJtHemSPW4?rel=0" data-fancybox class="text-success">Preview</a>
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">00:36</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <a class="col-9 col-md-8" href="#">
                         <i class="ti-file text-primary small mr-1"></i>
                        Your First Webpage
                      </a>
                      <span class="col-2 d-none d-md-block text-right">
                        <a href="https://www.youtube.com/embed/nrJtHemSPW4?rel=0" data-fancybox class="text-success">Preview</a>
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">2:36</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <span class="col-9 col-md-8" href="#">
                        <i class="ti-control-play small mr-1 text-primary"></i>
                        Creating A Full Webpage
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">7:12</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <span class="col-9 col-md-8" href="#">
                        <i class="ti-files small mr-1 text-primary"></i>
                        Accessing Elements - Files
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">4:07</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <span class="col-9 col-md-8" href="#">
                        <i class="ti-control-play small mr-1 text-primary"></i>
                        Responding To A Click
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">4:07</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <span class="col-9 col-md-8" href="#">
                        <i class="ti-control-play small mr-1 text-primary"></i>
                        Changing Website Content - Files
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">4:07</span>
                    </span>
                  </div>

                </div>
              </div> <!-- END accordion-item -->


              <div class="accordion-item list-group mb-3">

                <div class="list-group-item bg-light">
                 <a class="row collapsed" href="#accordionCurriculum_2" data-toggle="collapse" aria-expanded="true">
                   <span class="col-9 col-md-8">
                     <span class="accordion__icon text-primary mr-2">
                      <i class="ti-plus"></i>
                      <i class="ti-minus"></i>
                    </span>
                    <span class="h6 d-inline">HTML 5</span>
                   </span>
                   <span class="col-2 d-none d-md-block text-right">
                     19 Lectures
                   </span>
                   <span class="col-3 col-md-2 text-right">
                     2:37:10
                   </span>
                 </a>
                </div>

                <div id="accordionCurriculum_2" class="collapse" data-parent="#accordionCurriculum">

                  <div class="list-group-item">
                    <span class="row">
                      <a class="col-9 col-md-8" href="#">
                        <i class="ti-control-play small mr-1 text-primary"></i>
                        Introduction To Getting Started Section
                      </a>
                      <span class="col-2 d-none d-md-block text-right">
                        <a href="https://www.youtube.com/embed/nrJtHemSPW4?rel=0" data-fancybox class="text-success">Preview</a>
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">00:36</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <a class="col-9 col-md-8" href="#">
                         <i class="ti-file text-primary small mr-1"></i>
                        Your First Webpage
                      </a>
                      <span class="col-2 d-none d-md-block text-right">
                        <a href="https://www.youtube.com/embed/nrJtHemSPW4?rel=0" data-fancybox class="text-success">Preview</a>
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">2:36</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <span class="col-9 col-md-8" href="#">
                        <i class="ti-control-play small mr-1 text-primary"></i>
                        Creating A Full Webpage
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">7:12</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <span class="col-9 col-md-8" href="#">
                        <i class="ti-files small mr-1 text-primary"></i>
                        Accessing Elements - Files
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">4:07</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <span class="col-9 col-md-8" href="#">
                        <i class="ti-control-play small mr-1 text-primary"></i>
                        Responding To A Click
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">4:07</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <span class="col-9 col-md-8" href="#">
                        <i class="ti-control-play small mr-1 text-primary"></i>
                        Changing Website Content - Files
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">4:07</span>
                    </span>
                  </div>

                </div>
              </div> <!-- END accordion-item -->

              <div class="accordion-item list-group mb-3">

                <div class="list-group-item bg-light">
                 <a class="row collapsed" href="#accordionCurriculum_3" data-toggle="collapse" aria-expanded="true">
                   <span class="col-9 col-md-8">
                     <span class="accordion__icon text-primary mr-2">
                      <i class="ti-plus"></i>
                      <i class="ti-minus"></i>
                    </span>
                    <span class="h6 d-inline">Bootstrap 4</span>
                   </span>
                   <span class="col-2 d-none d-md-block text-right">
                     8 Lectures
                   </span>
                   <span class="col-3 col-md-2 text-right">
                     40:40
                   </span>
                 </a>
                </div>

                <div id="accordionCurriculum_3" class="collapse" data-parent="#accordionCurriculum">

                  <div class="list-group-item">
                    <span class="row">
                      <a class="col-9 col-md-8" href="#">
                        <i class="ti-control-play small mr-1 text-primary"></i>
                        Introduction To Getting Started Section
                      </a>
                      <span class="col-2 d-none d-md-block text-right">
                        <a href="https://www.youtube.com/embed/nrJtHemSPW4?rel=0" data-fancybox class="text-success">Preview</a>
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">00:36</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <a class="col-9 col-md-8" href="#">
                         <i class="ti-file text-primary small mr-1"></i>
                        Your First Webpage
                      </a>
                      <span class="col-2 d-none d-md-block text-right">
                        <a href="https://www.youtube.com/embed/nrJtHemSPW4?rel=0" data-fancybox class="text-success">Preview</a>
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">2:36</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <span class="col-9 col-md-8" href="#">
                        <i class="ti-control-play small mr-1 text-primary"></i>
                        Creating A Full Webpage
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">7:12</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <span class="col-9 col-md-8" href="#">
                        <i class="ti-files small mr-1 text-primary"></i>
                        Accessing Elements - Files
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">4:07</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <span class="col-9 col-md-8" href="#">
                        <i class="ti-control-play small mr-1 text-primary"></i>
                        Responding To A Click
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">4:07</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <span class="col-9 col-md-8" href="#">
                        <i class="ti-control-play small mr-1 text-primary"></i>
                        Changing Website Content - Files
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">4:07</span>
                    </span>
                  </div>

                </div>
              </div> <!-- END accordion-item -->

              <div class="accordion-item list-group mb-3">

                <div class="list-group-item bg-light">
                 <a class="row collapsed" href="#accordionCurriculum_4" data-toggle="collapse" aria-expanded="true">
                   <span class="col-9 col-md-8">
                     <span class="accordion__icon text-primary mr-2">
                      <i class="ti-plus"></i>
                      <i class="ti-minus"></i>
                    </span>
                      <span class="h6 d-inline">JavaScript: The Tricky Stuff</span> 
                   </span>
                   <span class="col-2 d-none d-md-block text-right">
                     12 Lectures
                   </span>
                   <span class="col-3 col-md-2 text-right">
                     1:20:40
                   </span>
                 </a>
                </div>

                <div id="accordionCurriculum_4" class="collapse" data-parent="#accordionCurriculum">

                  <div class="list-group-item">
                    <span class="row">
                      <a class="col-9 col-md-8" href="#">
                        <i class="ti-control-play small mr-1 text-primary"></i>
                        Introduction To Getting Started Section
                      </a>
                      <span class="col-2 d-none d-md-block text-right">
                        <a href="https://www.youtube.com/embed/nrJtHemSPW4?rel=0" data-fancybox class="text-success">Preview</a>
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">00:36</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <a class="col-9 col-md-8" href="#">
                         <i class="ti-file text-primary small mr-1"></i>
                        Your First Webpage
                      </a>
                      <span class="col-2 d-none d-md-block text-right">
                        <a href="https://www.youtube.com/embed/nrJtHemSPW4?rel=0" data-fancybox class="text-success">Preview</a>
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">2:36</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <span class="col-9 col-md-8" href="#">
                        <i class="ti-control-play small mr-1 text-primary"></i>
                        Creating A Full Webpage
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">7:12</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <span class="col-9 col-md-8" href="#">
                        <i class="ti-files small mr-1 text-primary"></i>
                        Accessing Elements - Files
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">4:07</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <span class="col-9 col-md-8" href="#">
                        <i class="ti-control-play small mr-1 text-primary"></i>
                        Responding To A Click
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">4:07</span>
                    </span>
                  </div>

                  <div class="list-group-item">
                    <span class="row">
                      <span class="col-9 col-md-8" href="#">
                        <i class="ti-control-play small mr-1 text-primary"></i>
                        Changing Website Content - Files
                      </span>
                      <span class="col-3 col-md-2 ml-auto text-right">4:07</span>
                    </span>
                  </div>

                </div>
              </div> <!-- END accordion-item -->


              </div> <!-- END accordion-->
            </div> <!-- END tab-pane -->
            
            
            <div class="tab-pane fade" id="tabInstructors" role="tabpanel">
              <h4 class="mb-4">
                About Instructors
              </h4>
              
              <div class="border-bottom mb-4 pb-4">
                <div class="d-md-flex mb-4">
                  <a href="#">
                    <img class="iconbox iconbox-xxxl" src="{% static 'img/262x230/5.jpg' %}" alt="">
                  </a>
                  <div class="media-body ml-md-4 mt-4 mt-md-0">
                    <h6>
                      Hasan Jubayer
                    </h6>
                    <p class="mb-2">
                      <i class="ti-world mr-2"></i> Web Developer and Instructor
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item mb-2">
                        <i class="ti-user mr-1"></i>
                        147570 studends
                      </li>
                      <li class="list-inline-item mb-2">
                        <i class="ti-book mr-1"></i>
                        20 Courses
                      </li>
                      <li class="list-inline-item mb-2">
                        <i class="ti-star text-warning mr-1"></i>
                        4.9 Average Rating (4578)
                      </li>
                    </ul>
                    <a href="#" class="btn btn-outline-primary btn-pill btn-sm">View Profile</a>
                  </div>
                </div>
                <h6>
                  Experience as Web Developer
                </h6>
                <p>
                  Investig ationes demons travge vunt lectores legee lrus quodk legunt saepius claritas est conctetur adip sicing. Dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standad dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it make type specimen book. It has survived not only five centuries.
                </p>
              </div>
              
              <div class="border-bottom mb-4 pb-5">
                <div class="d-md-flex mb-4">
                  <a href="#">
                    <img class="iconbox iconbox-xxxl" src="{% static 'img/262x230/6.jpg' %}" alt="">
                  </a>
                  <div class="media-body ml-md-4 mt-4 mt-md-0">
                    <h4>
                      Hasan Jubayer
                    </h4>
                    <p class="mb-2">
                      <i class="ti-world mr-2"></i> Web Developer and Instructor
                    </p>
                    <ul class="list-inline">
                      <li class="list-inline-item mb-2">
                        <i class="ti-user mr-1"></i>
                        147570 studends
                      </li>
                      <li class="list-inline-item mb-2">
                        <i class="ti-book mr-1"></i>
                        20 Courses
                      </li>
                      <li class="list-inline-item mb-2">
                        <i class="ti-star text-warning mr-1"></i>
                        4.7 Average Rating (4578)
                      </li>
                    </ul>
                    <a href="#" class="btn btn-outline-primary btn-pill btn-sm">View Profile</a>
                  </div>
                </div>
              </div>        
                    
            </div> <!-- END tab-pane -->
            
            <div class="tab-pane fade" id="tabReviews" role="tabpanel">
             <h4 class="mb-4"> 
               Students Feedback
             </h4>
             
              <div class="row px-0 align-items-center border p-4">
               <div class="col-md-4 text-center">
                  <h1 class="display-4 text-primary mb-0">
                    4.70
                  </h1>
                  <p class="my-2">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                  </p>
                  <p class="mb-0">
                    Average Rating
                  </p>
               </div>
               <div class="col-md-8">
                    <div class="d-flex align-items-center mb-2">
                       <div class="width-7rem text-light d-none d-sm-block mr-3">
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                      </div>
                        <div class="progress flex-auto mr-3" style="height:10px">
                          <div class="progress-bar bg-primary" style="width:100%" role="progressbar" aria-valuenow="20" aria-valuemin="20" aria-valuemax="100"></div>
                        </div>
                       <span>90%</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                       <div class="width-7rem text-light d-none d-sm-block mr-3">
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star"></i>
                      </div>
                        <div class="progress flex-auto mr-3" style="height:10px">
                          <div class="progress-bar bg-primary" style="width:80%" role="progressbar" aria-valuenow="20" aria-valuemin="20" aria-valuemax="100"></div>
                        </div>
                       <span>87%</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                       <div class="width-7rem text-light d-none d-sm-block mr-3">
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                        <div class="progress flex-auto mr-3" style="height:10px">
                          <div class="progress-bar bg-primary" style="width:60%" role="progressbar" aria-valuenow="20" aria-valuemin="20" aria-valuemax="100"></div>
                        </div>
                       <span>34%</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                       <div class="width-7rem text-light d-none d-sm-block mr-3">
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                        <div class="progress flex-auto mr-3" style="height:10px">
                          <div class="progress-bar bg-primary" style="width:40%" role="progressbar" aria-valuenow="20" aria-valuemin="20" aria-valuemax="100"></div>
                        </div>
                       <span>12%</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                       <div class="width-7rem text-light d-none d-sm-block mr-3">
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                      </div>
                        <div class="progress flex-auto mr-3" style="height:10px">
                          <div class="progress-bar bg-primary" style="width:10%" role="progressbar" aria-valuenow="20" aria-valuemin="20" aria-valuemax="100"></div>
                        </div>
                       <span>2%</span>
                    </div>
               </div>
              </div>
              
              <div class="row border-bottom mx-0 py-4 mt-4">
                <div class="col-md-4 my-2 media">
                  <img class="iconbox iconbox-xl" src="{% static 'img/avatar/4.jpg' %}" alt="">
                  <div class="media-body ml-4">
                   <small class="text-gray">7 min ago</small>
                   <h6>
                     Anthony Forsey
                   </h6>
                  </div>
                </div>
                <div class="col-md-8 my-2">
                  <p>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                  </p>
                  <p class="font-size-18">
                    Awesome course
                  </p>
                  <p>
                    Investig ationes demons travge vunt lectores legee lrus quodk legunt saepius was claritas kesty they conctetur they kedadip lectores legee sicing.
                  </p>
                </div>
              </div> <!-- END row-->
              
              <div class="row border-bottom mx-0 py-4 mt-4">
                <div class="col-md-4 my-2 media">
                  <img class="iconbox iconbox-xl" src="{% static 'img/avatar/5.jpg' %}" alt="">
                  <div class="media-body ml-4">
                   <small class="text-gray">1 mon ago</small>
                   <h6>
                     Justin Nam
                   </h6>
                  </div>
                </div>
                <div class="col-md-8 my-2">
                  <p class="text-light">
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </p>
                  <p class="font-size-18">
                    Test review lol
                  </p>
                  <p>
                    Investig ationes demons travge vunt lectores legee lrus quodk legunt saepius was claritas kesty.
                  </p>
                </div>
              </div> <!-- END row-->
              
              <div class="row border-bottom mx-0 py-4 mt-4">
                <div class="col-md-4 my-2 media">
                  <div class="iconbox iconbox-xl border">
                    MD
                  </div>
                  <div class="media-body ml-4">
                   <small class="text-gray">3 Mon ago</small>
                   <h6>
                     Murir Dokan
                   </h6>
                  </div>
                </div>
                <div class="col-md-8 my-2">
                  <p>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                  </p>
                  <p class="font-size-18">
                    This is a title of review. the developer suffer from lot's of vitamin. what about you?
                  </p>
                  <p>
                    Investig ationes demons travge vunt lectores legee lrus quodk legunt saepius was claritas kesty they conctetur they kedadip lectores legee sicing.
                  </p>
                </div>
              </div> <!-- END row-->
              
              
              <div class="row border-bottom mx-0 py-4 mt-4">
                <div class="col-md-4 my-2 media">
                  <img class="iconbox iconbox-xl" src="{% static 'img/avatar/6.jpg' %}" alt="">
                  <div class="media-body ml-4">
                   <small class="text-gray">1 year ago</small>
                   <h6>
                     John Doe
                   </h6>
                  </div>
                </div>
                <div class="col-md-8 my-2">
                  <p>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                  </p>
                  <p class="font-size-18">
                    Best course ever
                  </p>
                  <p>
                    Investig ationes demons travge vunt lectores legee lrus quodk legunt saepius was claritas kesty they conctetur they kedadip lectores legee sicing.
                    Investig ationes demons travge vunt lectores legee lrus quodk legunt saepius was claritas kesty they conctetur they kedadip lectores legee sicing.
                  </p>
                </div>
              </div> <!-- END row-->
              <div class="text-center mt-5">
                <a href="#" class="btn btn-primary btn-icon">
                  <i class="ti-reload mr-2"></i>
                  Load More
                </a>
              </div>
            </div> <!-- END tab-pane -->
            
          </div> <!-- END tab-content-->
      </div> <!-- END col-12 -->
     </div>


{% endblock %}