{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="padding-y-80 bg-cover" data-dark-overlay="6" style="background:url({% static 'img/breadcrumb-bg.jpg' %}) no-repeat">
  <div class="container">
    <h2 class="text-white">
      Instructor Profile
    </h2>
    <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0">  
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Page</a></li>
      <li class="breadcrumb-item"> Instructor Profile</li>
    </ol>
  </div>
</div>



  
  <section class="paddingTop-50 paddingBottom-120 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mt-4">
          <div class="card shadow-v1">
            <div class="card-header text-center border-bottom pt-5 mb-4">
              {% if staff.photo %}
                <img class="rounded-circle mb-4" src="{{ staff.photo.url }}" alt="Profile-pic" width="200" height="200">
              {% else %}
                <img class="rounded-circle mb-4" src="{% static 'img/blank_user.png' %}" alt="Profile-pic"width="200" height="200" >
              {% endif %}
             <h4>
              {{ staff.name }}
             </h4>
              <p>
                  {{ staff.post }}
              </p>
             
            </div>
            <div class="card-body border-bottom">
              <ul class="list-unstyled">
                <li class="mb-3">
                  <span class="d-block">Email address:</span>
                  <a class="h6" href="mailto:{{ staff.email }}">{{ staff.email }}</a>
                </li>
                <li class="mb-3">
                  <span class="d-block">Phone:</span>
                  <a class="h6">{{ staff.phone_number }}</a>
                </li>
               
              </ul>
            </div>
           
          </div>
        </div> <!-- END col-md-4 -->
        <div class="col-lg-8 mt-4">
          <div class="card shadow-v1 padding-30">
            <ul class="nav tab-line tab-line border-bottom mb-4" role="tablist">
             <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#Tabs_1-1" role="tab" aria-selected="true">
                About
              </a>
             </li>
           </ul>
           
            <div class="tab-content">
              <div class="tab-pane fade show active" id="Tabs_1-1" role="tabpanel">
               <p>
                  {{ staff.about }}
                </p>
                
                <hr class="my-4">
                {% if staff.additional_info %}
                <div class="border-bottom mb-4 pb-4">
                 <h4 class="mb-4">
                   Additional Information
                 </h4>
                  <p>
                      {{ staff.additional_info }}
                  </p>
                </div>
                {% endif %}
              
              </div>
              
            </div> <!-- END tab-content-->
          </div> <!-- END card-->
        </div> <!-- END col-md-8 -->
      </div> <!--END row-->
    </div> <!--END container-->
  </section>
   

{% endblock %}