{% extends 'base.html' %}
{% load static %}

{% block styles %}
<style>
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
</style>

{% endblock %}

{% block content %}

<div class="padding-y-60 bg-cover" data-dark-overlay="6" style="background:url({% static 'img/breadcrumb-bg.jpg' %}) no-repeat">
  <div class="container">
    <h1 class="text-white">
      Staffs
    </h1>
    <ol class="breadcrumb breadcrumb-double-angle text-white bg-transparent p-0">  
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item">Faculty</li>
    </ol>
  </div>
</div>
<section class="padding-y-100 wow fadeIn bg-light-v5">
  <div class="container">
  <div class="row">
   <div class="col-12 text-center mb-4">
     <h4>
        <span class="text-primary">Team</span>
     </h4>
   </div>
  </div>
  
  <div class="row">
    
  {% if staffs %}        
      {% for staff in staffs %}
    <div class="col-md-4 marginTop-30">
     <div class="card height-100p p-3 text-center">
      {% if staff.photo %}
        <img class="rounded-circle center" src="{{ staff.photo.url }}" alt="Profile-pic" width="220">
      {% else %}
        <img class="rounded-circle center" src="{% static 'img/blank_user.png' %}" alt="Profile-pic" height="220" >
      {% endif %}
       <div class="card-body px-2">
         <h4>
          <a href="{% url 'staff-detail' staff.id %}">{{ staff.name }}</a>
           
         </h4>
         <p class="my-2 text-gray">
         {{ staff.post }}
         </p>
         
       </div>
       <div class="card-footer border-top border-light">
         <a href="#">{{ staff.email }}</a>
       </div>
     </div>
   </div> <!-- END col-md-4-->
   {% endfor %}
   <div class="col-12 marginTop-80">

      {% if staffs.has_other_pages %}
      <ul class="pagination pagination-primary justify-content-center">

        {% if staffs.has_previous %}
        <li class="page-item mx-1">
          <a class="page-link iconbox iconbox-sm rounded-0" href="?page={{ staffs.previous_page_number }}">
            <i class="ti-angle-left small"></i>
          </a>
        </li>
        {% else %}
        <li class="page-item mx-1 disabled">
            <a class="page-link iconbox iconbox-sm rounded-0">
              <i class="ti-angle-left small"></i>
            </a>
          </li>
        {% endif %}

        {% for i in staffs.paginator.page_range %}
          {% if staffs.number == i %}
            <li class="page-item mx-1 active">
              <a class="page-link iconbox iconbox-sm rounded-0">{{ i }}</a>
            </li>
          {% else %}
            <li class="page-item mx-1">
              <a class="page-link iconbox iconbox-sm rounded-0" href="?page={{ i }}">{{ i }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if staffs.has_next %}
          <li class="page-item mx-1">
            <a class="page-link iconbox iconbox-sm rounded-0" href="?page={{ staffs.next_page_number }}">
              <i class="ti-angle-right small"></i>
            </a>
          </li>
        {% else %}
          <li class="page-item mx-1 disabled">
              <a class="page-link iconbox iconbox-sm rounded-0">
                <i class="ti-angle-right small"></i>
              </a>
            </li>
        {% endif %}

      </ul>
      {% endif %}
    </div>
{% else %}
<div class="d-md-flex justify-content-between align-items-center bg-white shadow-v1 rounded mb-4 py-4 px-5">
  <div class="media align-items-center">
      There are no Faculty staff to display now.
  </div>
</div>
{% endif %}

 </div>
  </div> <!-- END container-->
</section>


{% endblock %}