#header{
    background: #f8f8f8;
    color: black;
}

#header a:link, #header a:visited{
    color: #447e9b;
}

div.breadcrumbs{
    background: #00A444;
    color: #f8f8f8;
}

div.breadcrumbs a{
    color:#222;
}

.module h2, .module caption, .inline-group h2{
    background: #447e9b;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background: #009933;
}

.button.default, input[type=submit].default, .submit-row input.default{
    background: #00cc44;
    
}