/* Breadcrum Styles */

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: none;
}

/* ------ */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  #loader{
    transition:all .3s ease-in-out;
    opacity:1;
    visibility:visible;
    position:fixed;
    height:100vh;
    width:100%;
    background:#fff;
    z-index:90000
  }
  #loader.fadeOut{
    opacity:0;
    visibility:hidden
  }
  .spinner{
    width:40px;
    height:40px;
    position:absolute;
    top:calc(50% - 20px);
    left:calc(50% - 20px);
    background-color:#333;
    border-radius:100%;
    -webkit-animation:sk-scaleout 1s infinite ease-in-out;
    animation:sk-scaleout 1s infinite ease-in-out
  }
  @-webkit-keyframes sk-scaleout{
    0%{-webkit-transform:scale(0)}
    100%{-webkit-transform:scale(1);opacity:0}
  }
  @keyframes sk-scaleout{
    0%{-webkit-transform:scale(0);transform:scale(0)}
    100%{-webkit-transform:scale(1);transform:scale(1);opacity:0}
  }


  .sidebar-menu>.active{
    background: whitesmoke;
  }