{% extends 'admin/base.html' %}
{% load static %}


{% block extrastyle %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_custom.css' %}">
{% endblock %}

{% block branding %}
    <h1 id="head">
        <img src="{% static 'img/logo2.png' %}" height="40" class="brand_img" alt="Logo">
        <span class="text-success">&nbsp;Admin Area</span>
    </h1>
{% endblock %}
