{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DKMC {% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon"/>

     <!-- viewport scale-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
            
     <!-- Favicon and Apple Icons
     <link rel="icon" type="image/x-icon" href="assets/img/favicon/favicon.ico">
     <link rel="shortcut icon" href="assets/img/favicon/114x114.png">
     <link rel="apple-touch-icon-precomposed" href="assets/img/favicon/96x96.png"> -->
     
     
     <!--Google fonts-->
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700%7CWork+Sans:400,500">
     
     
     <!-- Icon fonts -->
     <link rel="stylesheet" href="{% static 'fonts/fontawesome/css/all.css' %}">
     <link rel="stylesheet" href="{% static 'fonts/themify-icons/css/themify-icons.css' %}">
     
     
     <!-- stylesheet-->    
     <link rel="stylesheet" href="{% static 'css/vendors.bundle.css' %}">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
     {% block styles %}{% endblock %}
</head>
<body>

    {% include 'components/header.html' %}
    
    {% block content %}
    {% endblock %}

    {% include 'components/footer.html' %}


    <script src="{% static 'js/vendors.bundle.js' %}"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    {% block javascript %}{% endblock %}
</body>
</html>