{% load static %}

<footer class="site-footer">
  <div class="footer-top bg-dark text-white-0_6">
    <div class="container"> 
      <div class="row">

        <div class="col-lg-3 col-md-6 mt-5">
         <img src="{% static 'img/logo1.png' %}" alt="Logo">
         <div class="margin-y-40 text-white">
           <p>
            Delivering quality education services has been our main motto.
          </p>
         </div>
          <ul class="list-inline"> 
            <li class="list-inline-item"><a class="iconbox bg-white-0_2 hover:primary" href="#"><i class="ti-facebook"> </i></a></li>
            <li class="list-inline-item"><a class="iconbox bg-white-0_2 hover:primary" href="#"><i class="ti-twitter"> </i></a></li>
            <li class="list-inline-item"><a class="iconbox bg-white-0_2 hover:primary" href="#"><i class="ti-google"> </i></a></li>
            <li class="list-inline-item"><a class="iconbox bg-white-0_2 hover:primary" href="#"><i class="ti-linkedin"></i></a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 mt-5">
          <h4 class="h5 text-white">Contact Us</h4>
          <div class="width-3rem bg-primary height-3 mt-3"></div>
          <ul class="list-unstyled marginTop-40">
            <li class="mb-3 text-white"><i class="ti-headphone mr-3"></i><a href="#">01-4418118</a></li>
            <li class="mb-3 text-white"><i class="ti-email mr-3"></i><a href="#">dkmc.college@gmail.com</a></li>
            <li class="mb-3 text-white">
             <div class="media">
              <i class="ti-location-pin mt-2 mr-3"></i>
              <div class="media-body">
                <span> Dillibazar, Kathmandu. Nepal</span>
              </div>
             </div>
            </li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 mt-5">
          <h4 class="h5 text-white">Quick links</h4>
          <div class="width-3rem bg-primary height-3 mt-3"></div>
          <ul class="list-unstyled marginTop-40">
            <li class="mb-2 text-white"><a href="#">About Us</a></li>
            <li class="mb-2 text-white"><a href="#">Contact Us</a></li>
            <li class="mb-2 text-white"><a href="#">Students</a></li>
            <li class="mb-2 text-white"><a href="#">Admission</a></li>
            <li class="mb-2 text-white"><a href="#">Events</a></li>
            <li class="mb-2 text-white"><a href="#">Latest News</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 mt-5">
          <h4 class="h5 text-white">Newsletter</h4>
          <div class="width-3rem bg-primary height-3 mt-3"></div>
          <div class="marginTop-40">
            <p class="mb-4 text-white">Subscribe to get update and information. Don't worry, we won't send spam!</p>
            <form class="marginTop-30" action="#" method="POST">
              <div class="input-group">
                <input type="text" placeholder="Enter your email" class="form-control py-3 border-white" required="">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">Subscribe</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        
      </div> <!-- END row-->
    </div> <!-- END container-->
  </div> <!-- END footer-top-->

  <div class="footer-bottom   text-center">
    <div class="container">
      <p class="text-white-0_5 ">&copy; 2019 . All rights reserved. Created by <a href=" target="_blunk></a></p>
    </div>
  </div>  <!-- END footer-bottom-->
</footer> <!-- END site-footer -->


<div class="scroll-top">
  <i class="ti-angle-up"></i>
</div>
