{% load static %}

<header class="site-header bg-dark text-white-0_5">        
    <div class="container">
      <div class="row align-items-center justify-content-between mx-0 header-portion">
        <ul class="list-inline d-none d-lg-block mb-0">
          <li class="list-inline-item mr-3">
           <div class="d-flex align-items-center">
            <i class="ti-email mr-2"></i>
            <a href="#">dkmc.college@gmail.com</a>
           </div>
          </li>
          <li class="list-inline-item mr-3">
           <div class="d-flex align-items-center">
            <i class="ti-headphone mr-2"></i>
            <a href="#">01-4418118</a>
           </div>
          </li>
        </ul>
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-0 p-3 border-right border-left border-white-0_1">
            <a href="https://www.facebook.com/Dillibazar-Kanya-Multiple-Campus-Tribhuvan-University-Kathmandu-119963971361060/"><i class="ti-facebook"></i></a>
          </li>
          <li class="list-inline-item mr-0 p-3 border-right border-white-0_1">
            <a href="#"><i class="ti-twitter"></i></a>
          </li>
          <li class="list-inline-item mr-0 p-3 border-right border-white-0_1">
            <a href="#"><i class="ti-google"></i></a>
          </li>
          <li class="list-inline-item mr-0 p-3 border-right border-white-0_1">
            <a href="#"><i class="ti-linkedin"></i></a>
          </li>
        </ul>
        <!-- <ul class="list-inline mb-0">
          <li class="list-inline-item mr-0 p-md-3 p-2 border-right border-left border-white-0_1">
            <a href="page-login.html">Login</a>
          </li>
          <li class="list-inline-item mr-0 p-md-3 p-2 border-right border-white-0_1">
            <a href="page-signup.html">Register</a>
          </li>
        </ul> -->
      </div> <!-- END END row-->
    </div> <!-- END container-->
  </header><!-- END site header-->
  
  

  <nav class="ec-nav sticky-top bg-white">
  <div class="container">
    <div class="navbar p-0 navbar-expand-lg">
      <div class="navbar-brand image-size">
        
            <a class="logo-default " href="{% url 'homepage' %}"><img alt="" src="{% static 'img/logo1.png' %}"></a>
       
        
      </div>
      <span aria-expanded="false" class="navbar-toggler ml-auto collapsed" data-target="#ec-nav__collapsible" data-toggle="collapse">
        <div class="hamburger hamburger--spin js-hamburger">
          <div class="hamburger-box">
            <div class="hamburger-inner"></div>
          </div>
        </div>
      </span>
      <div class="collapse navbar-collapse when-collapsed" id="ec-nav__collapsible">
        <ul class="nav navbar-nav ec-nav__navbar ml-auto">

            <li class="nav-item nav-item__has-megamenu megamenu-col-2">
              <a class="nav-link  capital" href="{% url 'homepage' %}" >Home</a>
            
            </li>

            <li class="nav-item nav-item__has-dropdown">
                <a class="nav-link dropdown-toggle capital" href="#" data-toggle="dropdown">About Us</a>
                <ul class="dropdown-menu">
                <li><a href="{% url 'chairman' %}" class="nav-link__list">Chairman's Words</a></li>
                  <li><a href="{% url 'mission' %}" class="nav-link__list">Our Mission</a></li>
                  <li><a href="{% url 'goals' %}" class="nav-link__list">Our goals</a></li>
                
                </ul>
            </li>
            <li class="nav-item nav-item__has-dropdown">
                <a class="nav-link capital " href="{% url 'programs' %}" > Programs </a>
               
              </li>

              <li class="nav-item nav-item__has-dropdown">
                <a class="nav-link dropdown-toggle capital" href="#" data-toggle="dropdown">Our Staffs</a>
                <ul class="dropdown-menu">
                    
                  <li><a href="{% url 'staff' %}" class="nav-link__list">Faculty Members </a></li>
                  <li><a href="#" class="nav-link__list">Non-Academic Staff</a></li>
                
                </ul>
            </li>

            
              <li class="nav-item nav-item__has-dropdown">
                <a class="nav-link capital " href="{% url 'news' %}" > News </a>
               
              </li>
             

             <li class="nav-item nav-item__has-dropdown">
                <a class="nav-link capital " href="{% url 'gallery' %}" > Gallery </a>
              
              </li>

            <li class="nav-item nav-item__has-megamenu download-color">
              <a class="nav-link dropdown-toggle capital " href="#" data-toggle="dropdown">Downloads</a>
             
            </li>
            <li class="nav-item ">
                <a class="nav-link capital " href="{% url 'contact' %}" > Contact Us </a>
              
              </li>
        </ul>
      </div>
      		
    </div>
  </div> <!-- END container-->		
  </nav>