{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <title>Admin {% block title %}{% endblock %} </title>
        <link rel="icon" href="{% static 'img/logo.png' %}" type="image/x-icon"/>
        <link href="{% static 'css/user_custom.css' %}" rel="stylesheet">
        <link href="{% static 'css/user_style.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% block css %}{% endblock %}
    </head>
    <body class="app">

        {% block spinner %}
        <div id="loader">
            <div class="spinner"></div>
        </div>
        {% endblock %}
        
        <div role="main">
            <!-- Sidebar section of the site -->
            <div class="sidebar">
                <div class="sidebar-inner">
                        {% include 'user/partials/sidebar.html' %}
                </div>
            </div>

            <!-- Header section of the site -->
            <div class="page-container">
                <div class="header navbar"><div class="header-container">
                    {% include 'user/partials/header.html' %}
                </div>
            </div>

            


            <!-- Main Container of the page -->
            <main class="main-content bgc-grey-100">
                
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
                        {% block breadcrumb %}{% endblock %}
                    </ol>
                </nav><br>

                <div id="mainContent">
                    {% block content %}{% endblock %}
                </div>
            </main>

            {% include 'user/partials/footer.html' %}
            </div>
        </div>
        <script>window.addEventListener('load', () => {
                const loader = document.getElementById('loader');
                setTimeout(() => {
                loader.classList.add('fadeOut');
                }, 300);
            });
        </script>
        <script type="text/javascript" src="{% static 'js/vendor.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bundle.js' %}"></script>
        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        {% block js %}{% endblock %}
    </body>
</html>