{% extends 'user/base.html' %}

{% block title %} | Contact {% endblock%}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Contact</li>
{% endblock %}


{% block content %}
<div class="col-md-12">
    <div class="bgc-white bd bdrs-3 p-20 mB-20">
        <div class="row">
            <div class="col-md-9"><h3 class="c-grey-900 mB-20">List of Messages Submitted from the Contact-Us page</h3></div>
        </div><hr>
        <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead><tr>
                <th>S.N</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Message</th>
                <th>Submitted Date</th>
            </tr></thead>
            <tbody>
                {% if object_list %}        
                    {% for contact in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'user_contact_detail' contact.id %}">{{ contact.name }}</a></td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.phone_no }}</td>
                        <td>{{ contact.message|truncatechars:50}}</td>
                        <td>{{ contact.contact_date }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                   <h4 class="c-red-500"> No one has try to contact through the site </h4>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}