{% extends 'user/base.html' %}

{% block title %} | Contact {% endblock%}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'user_contact' %}">Contact</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ contact.name }}</li>
{% endblock %}


{% block content %}
    
<div class="row">
<div class="col-md-3"></div>
<div class="card mb-3 col-md-6">
        <div class="card-body">
          <h3 class="card-title">{{ contact.name }}</h3><hr>
          <p class="card-text"><b>Phone No.: </b> {{ contact.phone_no }}</p>
          <p class="card-text"><b>Email: </b> {{ contact.email }}</p>
          <p class="card-text float-left"><small class="text-muted">Submitted On: {{ contact.contact_date|timesince }} ago</small></p>
        </div>
        <div class="card-footer mb-3">
            <h4 class="card-title">Message:</h4>
            <p class="card-title">{{ contact.message }}</p>
        </div>
      </div>
    </div>

{% endblock %}
