{% extends 'user/base.html' %}

{% block title %} | Events {% endblock%}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Event</li>
{% endblock %}


{% block content %}
<div class="col-md-12">
    <div class="bgc-white bd bdrs-3 p-20 mB-20">
        <div class="row">
            <div class="col-md-9"><h3 class="c-grey-900 mB-20">All Event List</h3></div>
            <div class="col-md-3 text-right"><a href="{% url 'user_event_create' %}"><button type="button" class="btn cur-p btn-primary">Create New Event</button></a></div>
        </div><hr>
        <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead><tr>
                <th>S.N</th>
                <th>Title</th>
                <th>Location</th>
                <th>Description</th>
                <th>Event Date</th>
                <th>Event Time</th>
                <th>Created Date</th>
                <th>Updated Date</th>
            </tr></thead>
            <tbody>
                {% if object_list %}        
                    {% for event in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'user_event_detail' event.id %}">{{ event.title }}</a></td>
                        <td>{{ event.location }}</td>
                        <td>{{ event.description|truncatechars:50}}</td>
                        <td>{{ event.start_date }} - {{ event.end_date }}</td>
                        <td>{{ event.start_time }} - {{ event.end_time }}</td>
                        <td>{{ event.created_date }}</td>
                        <td>{{ event.updated_date }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                   <h4 class="c-red-500"> There are no event to display. You can create event from here </h4>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}