{% extends 'user/base.html' %}
{% load crispy_forms_tags %}

{% block title %} | Events {% endblock%}

{% block css %}
<style>
    form label{
        font-weight: bold;
    }
</style>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'user_event' %}">Event</a></li>
    {% if '/update/' in request.path %}
        <li class="breadcrumb-item"><a href="{% url 'user_event_detail' object.id %}">{{ object.title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">Create New Event</li>
    {% endif %}
{% endblock %}



{% block content %}
    <form method="post" class="pl-4 pr-4" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-5">
                {{ form.title|as_crispy_field }}
            </div>
            <div class="col-md-1"></div>
            <div class="form-group col-md-4">
                {{ form.location|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ form.start_date|as_crispy_field }}
                {{ form.start_time|as_crispy_field }}
            </div>
            <div class="col-md-2"></div>
            <div class="form-group col-md-4">
                {{ form.end_date|as_crispy_field }}
                {{ form.end_time|as_crispy_field }}
            </div>
        </div>
        {{ form.description|as_crispy_field }}
        {{ form.event_pic|as_crispy_field }}<br>
        <span>* are required fields</span><br><br>
        <div class="text-center"><button type="submit" class="btn btn-success">
            {% if '/update/' in request.path %}Update Event{% else %}Create Event{% endif %}
        </button></div>
    </form>
{% endblock %}

{% block js %}
<script>
    $('#id_start_date').attr("type","date");
    $('#id_start_time').attr("type","time");
    $('#id_end_date').attr("type","date");
    $('#id_end_time').attr("type","time");
</script>
{% endblock %}