{% extends 'user/base.html' %}
{% load static %}

{% block title %} | Events {% endblock%}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'user_event' %}">Event</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ event.title }}</li>
{% endblock %}


{% block content %}
    
    <div class="col-md-9 text-right">
        <a href="{% url 'user_event_update' event.id %}"><button class="btn btn-success">Update Event</button></a>
        <a class="confirm-delete"><button class="btn btn-danger">Delete Event</button></a>
        <form method="post" action="{% url 'user_event_delete' event.id %}" id="delete_form">
            {% csrf_token %}
            <input type="hidden">
        </form>
    </div>
    <div class="row">
    <div class="col-md-3"></div>
    <div class="card mb-3 col-md-6">
            {% if event.event_pic %}
                <img class="card-img-top mt-3" src="{{ event.event_pic.url }}" alt="Card image cap" height="420">
            {% else %}
                <img class="card-img-top mt-3" src="{% static 'img/events.png' %}" alt="Card image cap" height="420">
            {% endif %}
            <div class="card-body">
              <h3 class="card-title">{{ event.title }}</h3>
              <p class="card-text">{{ event.description }}</p>
              <h6 class="card-text text-primary">Location: {{ event.location }}</h6>
              <p class="card-text float-left"><small class="text-muted">Created {{ event.created_date|timesince }} ago</small></p>
              {% if event.created_date != event.updated_date %}
                <p class="card-text float-right"><small class="text-muted">Updated {{ event.updated_date|timesince }} ago</small></p>
              {% endif %}
            </div>
            <div class="card-footer mb-3">
                <p class="card-title"><b>Event held Date and Time</b></p>
                <p class="card-text"><b>Date:</b> &nbsp; {{ event.start_date }} - {{ event.end_date }}</p>
                <p class="card-text"><b>Time:</b> &nbsp; {{ event.start_time }} - {{ event.end_time }}</p>
            </div>
          </div>
        </div>

{% endblock %}


{% block js %}
<script>
    $(document).on('click', '.confirm-delete', function(){
        ans = confirm('Are you sure you want to delete this?');
        if(ans==true){
            $('#delete_form').submit();
        } else{
            return false;
        }
    });
</script>
{% endblock %}