{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>DKMC | Login</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/floating-labels.css' %}" rel="stylesheet">
    <link href="{% static 'css/user_custom.css' %}" rel="stylesheet">
  </head>
  <body>
    <form method="POST" action="{% url 'login' %}" class="form-signin">
        <div class="text-center mb-4">
            <img class="mb-4" src="{% static 'img/logo1.png' %}" alt="Logo" width="250" height="65">
            <h1 class="h3 mb-3 font-weight-normal">Admin Login</h1>
        </div>
        {% include 'components/alerts.html' %}
        {% csrf_token %}
        <div class="form-label-group">
            <input type="text" id="inputUsername" class="form-control" name="username" placeholder="User Name" required autofocus>
            <label for="inputUsername">User Name</label>
        </div>

        <div class="form-label-group">
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
            <label for="inputPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
            <label><input type="checkbox" value="remember-me"> Remember me</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        setTimeout( function(){
            $('#message').fadeOut('slow');
        }, 3000);
    </script>
</body>
</html>
