{% extends 'user/base.html' %}

{% block title %} | Notices {% endblock%}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'user_notice' %}">Notice</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ notice.title }}</li>
{% endblock %}


{% block content %}
    
    <div class="col-md-10 text-right">
        <a href="{% url 'user_notice_update' notice.id %}"><button class="btn btn-success">Update Notice</button></a>
        <a class="confirm-delete"><button class="btn btn-danger">Delete Notice</button></a>
        <form method="post" action="{% url 'user_notice_delete' notice.id %}" id="delete_form">
            {% csrf_token %}
            <input type="hidden">
        </form>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="masonry-item col-md-8">
            <div class="bd bgc-white">
                <div class="layers">
                <div class="layer w-100">
                    <div class="bgc-light-blue-500 c-white p-20"><h2 class="lh-1">{{ notice.title }}</h2></div>
                    <div class="bgc-light-blue-500 c-white p-20"><div class="peers ai-c jc-sb gap-40">
                        <div class="peer peer-greed">
                            <h5>Notice Date: {{ notice.notice_date|date:'d M, Y ' }}</h5>
                            <p class="mB-0">{{ notice.notice_type }}</p>
                        </div>
                        {% if notice.location %}
                            <div class="peer"><h3 class="text-right"> <i class="ti-location-pin text-secondary"></i> {{ notice.location }}</h3></div>
                        {% endif %}
                    </div></div>
                
                    <div class="p-20"><div class="ai-c jc-sb">
                        {% if notice.description %}
                            <h4><u>About the Notice:</u></h4>
                            <div>{{ notice.description }}</div>
                        {% endif %}

                        {% if notice.notice_pic %}
                            <div class="peer text-center mt-4"><a href="{{ notice.notice_pic.url }}"><img src="{{ notice.notice_pic.url }}" alt="Notice-image" height="280"></a></div>
                        {% endif %}
                        <br>
                        <div class="card-footer">
                        <p class="card-text">Notice Published On: {{ notice.created_date }}</p>
                        {% if notice.created_date != notice.updated_date %}
                            <p class="card-text">Notice Edited On: {{ notice.updated_date }}</p>
                        {% endif %}
                    </div>
                    </div></div>
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}
<script>
    $(document).on('click', '.confirm-delete', function(){
        ans = confirm('Are you sure you want to delete this?');
        if(ans==true){
            $('#delete_form').submit();
        } else{
            return false;
        }
    });
</script>
{% endblock %}