{% extends 'user/base.html' %}

{% block title %} | Notices {% endblock%}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Notice</li>
{% endblock %}


{% block content %}
<div class="col-md-12">
    <div class="bgc-white bd bdrs-3 p-20 mB-20">
        <div class="row">
            <div class="col-md-9"><h3 class="c-grey-900 mB-20">All Notice List</h3></div>
            <div class="col-md-3 text-right"><a href="{% url 'user_notice_create' %}"><button type="button" class="btn cur-p btn-primary">Create New Notice</button></a></div>
        </div><hr>
        <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead><tr>
                <th>S.N</th>
                <th>Title</th>
                <th>Type</th>
                <th>Location</th>
                <th>Description</th>
                <th>Notice Date</th>
                <th>Created Date</th>
                <th>Updated Date</th>
            </tr></thead>
            <tbody>
                {% if object_list %}        
                    {% for notice in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'user_notice_detail' notice.id %}">{{ notice.title }}</a></td>
                        <td>{{ notice.notice_type }}</td>
                        <td>{{ notice.location }}</td>
                        <td>{{ notice.description|truncatechars:50}}</td>
                        <td>{{ notice.notice_date }}</td>
                        <td>{{ notice.created_date }}</td>
                        <td>{{ notice.updated_date }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                   <h4 class="c-red-500"> There are no notice to display. You can create notice from here </h4>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}