{% extends 'user/base.html' %}
{% load crispy_forms_tags %}

{% block title %} | Notices {% endblock%}

{% block css %}
<style>
    form label{
        font-weight: bold;
    }
</style>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'user_notice' %}">Notice</a></li>
    {% if '/update/' in request.path %}
        <li class="breadcrumb-item"><a href="{% url 'user_notice_detail' object.id %}">{{ object.title }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">Create New Notice</li>
    {% endif %}
{% endblock %}



{% block content %}
    <form method="post" class="pl-4 pr-4" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-5">
                {{ form.title|as_crispy_field }}
            </div>
            <div class="col-md-1"></div>
            <div class="form-group col-md-4">
                {{ form.location|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                <label for="id_notice_type">Type*</label>
                <select id="id_notice_type" class="form-control"name="notice_type" required>
                    <option value="">Choose...</option>
                    <option value="Exam Notice" {% if object.notice_type == 'Exam Notice' %}selected{% endif %}>Exam Notice</option>
                    <option value="Holiday Notice" {% if object.notice_type == 'Holiday Notice' %}selected{% endif %}>Holiday Notice</option>
                    <option value="Fee Notice" {% if object.notice_type == 'Fee Notice' %}selected{% endif %}>Fee Notice</option>
                    <option value="Program Notice" {% if object.notice_type == 'Program Notice' %}selected{% endif %}>Program Notice</option>
                </select>
            </div>
            <div class="col-md-2"></div>
            <div class="form-group col-md-4">
                <label for="id_notice_date">Notice Date</label>
                <input type="date" class="form-control" id="id_notice_date" name="notice_date" value="{{ object.notice_date|date:"Y-m-d"}}">
            </div>
        </div>
        {{ form.description|as_crispy_field }}
        {{ form.notice_pic|as_crispy_field }}<br>
        <span>* are required fields</span><br><br>
        <div class="text-center"><button type="submit" class="btn btn-success">
            {% if '/update/' in request.path %}Update Notice{% else %}Create Notice{% endif %}
        </button></div>
    </form>
{% endblock %}