{% extends 'user/base.html' %}
{% load static %}

{% block title %} | Staffs {% endblock%}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'user_staff' %}">Staff</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ object.name }}</li>
{% endblock %}


{% block content %}
    
<div class="col-md-9 text-right">
    <a href="{% url 'user_staff_update' object.id %}"><button class="btn btn-success">Update Staff</button></a>
    <a class="confirm-delete"><button class="btn btn-danger">Delete Staff</button></a>
    <form method="post" action="{% url 'user_staff_delete' object.id %}" id="delete_form">
        {% csrf_token %}
        <input type="hidden">
    </form>
</div>

<div class="row">
<div class="col-md-3"></div>
<div class="card mb-3 col-md-6">
        <div class="card-body">
          <div class="float-left">
          <h3 class="card-title">{{ object.name }}</h3><hr>
          <p class="card-text"><b>Phone No.: </b> {{ object.phone_number }}</p>
          <p class="card-text"><b>Email: </b> {{ object.email }}</p>
          <p class="card-text text-success"><b>Type:</b>
          {% if object.member_type == 1 %}
              Faculty Member
          {% elif object.member_type == 2 %}
              Non-Academic Staff
          {% else %}
              Not Assigned
          {% endif %}</p>
          <p class="card-text float-left"><small class="text-muted">Updated On: {{ object.updated_date|timesince }} ago</small></p>
        </div>
        <div class="float-right">
          {% if object.photo %}
            <img class="rounded-circle" src="{{ object.photo.url }}" alt="Profile-pic" width="220">
          {% else %}
            <img class="rounded-circle" src="{% static 'img/user.png' %}" alt="Profile-pic" width="220">
          {% endif %}
        </div>
        </div>
        <div class="card-footer mb-3">
            <h4 class="card-title">About:</h4>
            <p class="card-title">{{ object.about }}</p><br>
            {% if object.additional_info %}
            <hr><h4 class="card-title">Additional Info:</h4>
            <p class="card-title">{{ object.additional_info }}</p>
            {% endif %}
        </div>
      </div>
    </div>

{% endblock %}

{% block js %}
<script>
    $(document).on('click', '.confirm-delete', function(){
        ans = confirm('Are you sure you want to delete this?');
        if(ans==true){
            $('#delete_form').submit();
        } else{
            return false;
        }
    });
</script>
{% endblock %}
