{% extends 'user/base.html' %}

{% block title %} | Staffs {% endblock%}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Staff</li>
{% endblock %}


{% block content %}
<div class="col-md-12">
    <div class="bgc-white bd bdrs-3 p-20 mB-20">
        <div class="row">
            <div class="col-md-9"><h3 class="c-grey-900 mB-20">All Staff List</h3></div>
            <div class="col-md-3 text-right"><a href="{% url 'user_staff_create' %}"><button type="button" class="btn cur-p btn-primary">Create New Staff</button></a></div>
        </div><hr>
        <table id="dataTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead><tr>
                <th>S.N</th>
                <th>Name</th>
                <th>Position</th>
                <th>Email</th>
                <th>Phone No.</th>
                <th>Type</th>
                <th>About</th>
                <th>Created Date</th>
                <th>Updated Date</th>
            </tr></thead>
            <tbody>
                {% if object_list %}        
                    {% for staff in object_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'user_staff_detail' staff.id %}">{{ staff.name }}</a></td>
                        <td>{{ staff.post }}</td>
                        <td>{{ staff.email }}</td>
                        <td>{{ staff.phone_number }}</td>
                        <td>
                            {% if staff.member_type == 1 %}
                                Faculty Member
                            {% elif staff.member_type == 2 %}
                                Non-Academic Staff
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>
                        <td>{{ staff.about|truncatechars:50}}</td>
                        <td>{{ staff.created_date }}</td>
                        <td>{{ staff.updated_date }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                   <h4 class="c-red-500"> There are no Staff member to display. Please create one to view here </h4>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}