{% extends 'user/base.html' %}
{% load crispy_forms_tags %}

{% block title %} | Staffs {% endblock%}

{% block css %}
<style>
    form label{
        font-weight: bold;
    }
</style>
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'user_staff' %}">Staff</a></li>
    {% if '/update/' in request.path %}
        <li class="breadcrumb-item"><a href="{% url 'user_staff_detail' object.id %}">{{ object.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit</li>
    {% else %}
        <li class="breadcrumb-item active" aria-current="page">Create New Staff</li>
    {% endif %}
{% endblock %}



{% block content %}
    <form method="post" class="pl-4 pr-4" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-row" style="margin-left: 8em;">
            <div class="form-group col-md-5">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="col-md-1"></div>
            <div class="form-group col-md-4">
                {{ form.post|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ form.email|as_crispy_field }}
            </div>
            <div class="col-md-2"></div>
            <div class="form-group col-md-4">
                {{ form.phone_number|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                    <label for="id_member_type">Staff Type*</label>
                    <select id="id_member_type" class="form-control" name="member_type" required>
                        <option value="">Choose...</option>
                        <option value="1" {% if object.member_type == 1 %}selected{% endif %}>Faculty Member</option>
                        <option value="2" {% if object.member_type == 2 %}selected{% endif %}>Non-Academic Staff</option>
                    </select>
            </div>
            <div class="form-group col-md-10">
                {{ form.about|as_crispy_field }}
            </div>
            <div class="form-group col-md-4">
                {{ form.photo|as_crispy_field }}
            </div>
            <div class="form-group col-md-10">
                {{ form.additional_info|as_crispy_field }}
            </div>
            <div class="col-md-4"><span>* are required fields</span></div>
        </div>
        <br><br>
        <div class="text-center"><button type="submit" class="btn btn-success">
            {% if '/update/' in request.path %}Update Staff{% else %}Create Staff{% endif %}
        </button></div>
    </form>
{% endblock %}